{% extends 'Blog_app/main.html' %}

{% block content %}
<section>
    <div class="header-bar" >
        <a href="{% url 'posts' %}">&#8592; Back</a>
    </div>

    <br>
    <div >
        <i class="fa-solid fa-location-dot" style="color: #294a85;">  Bulevardul Uverturii 43, Sector 6, Bucuresti</i>
    </div>
    <br/>
    <div>
        <a href=""><i class="fa-solid fa-square-phone " style="color: #26467d;"> 074.7672.393</i></a>
    </div>
    <br>
    <div>
        <a href=""><i class="fa-solid fa-envelope" style="color: #2a4b83;"> ion.murzac@yahoo.com</i></a>
    </div>
    <br>
    <div>
        <a target="_blank" href="https://www.linkedin.com/in/ion-murzac/"><i class="fa-brands fa-linkedin fa-3x" style="color: #3e2697;"></i></a>
        <a target="_blank" href="https://www.facebook.com/murzac.ion"><i class="fa-brands fa-square-facebook fa-3x" style="color: #2f68ca;"></i></a>
        <a target="_blank" href="https://www.instagram.com/ion_murzac/"><i class="fa-brands fa-square-instagram fa-3x" style="color: #6f6d5d;"></i></a>
        <a target="_blank" href="https://github.com/IonMurzac"><i class="fa-brands fa-square-github fa-3x" style="color: #0b0d0e;"></i></a>
    </div>
    <br>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1383.8830667902107!2d26.03296191859997!3d44.435874076218866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b201b751a1cc93%3A0x18425f644cd78ee8!2sBloc%20M1%2C%20Bulevardul%20Uverturii%2043%2C%20Bucure%C8%99ti%20060931!5e0!3m2!1sru!2sro!4v1673446495288!5m2!1sru!2sro" 
        width="550" height="400" style="border: 3px;;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</section>
{% endblock content %}
